<!DOCTYPE html>
<html>
<head>
	<title>Jeop Gym</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Jeopardy online test training">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>The Jeopardy Gym</h1>
		<hr>
		<div id="game">
			<div id="loading" class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
			</div>

			<div id="current-clue-form" class="d-none">
				<h1 id="current-category">Potent Potables</h1>
				<h4 id="current-clue">This character did a bad job in that one movie.</h4>
				<form nosubmit autocomplete="off">
					<div class="form-group">
						<label for="current-answer">Answer</label>
						<input type="text" class="form-control" id="current-answer" aria-describedby="clueHelp">
						<small id="clueHelp" class="form-text text-muted">Next clue will  appear when you submit or after time expires</small>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>

			<div id="results" class="d-none">
				<p>
					<button id="next-game-button" class="btn btn-success">Next game!</button>
				</p>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Category</th>
							<th>Clue</th>
							<th>$</th>
							<th>Correct response</th>
							<th>Your response</th>
						</tr>
					</thead>
					<tbody id="results-content">
						<tr data-repeat="let clue of clues">
							<th>{{ clue.category }}</th>
							<td>{{ clue.text }}</td>
							<td>{{ clue.value }}</td>
							<td>{{ clue.response }}</td>
							<td>{{ clue.submittedAnswer }}</td>
						</tr>
					</tbody>
				</table>
				<a id="game-link" target="_blank" title="J Archive"
					href="https://j-archive.com/showgame.php?game_id={{ gameId }}">
					View J Archive for this game
				</a>
			</div>

		</div>
		<footer>&copy;2023</footer>
	</div>
	<script src="/js/app.js"></script>
</body>
</html>